body {
    background-color: burlywood;
    text-align: center;
}

#wuerfel {
    border: 5px black solid;
    background-color: blanchedalmond;
    border-radius: 10px;
    max-height: 200px;
    max-width: 200px;
    margin: auto;
}

#wuerfelbutton {
    margin-top: 10px;
}